.additional {
  padding: 0 20px;
  background-color: $bg-content;
}

.additional__title {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 40px;

  @include oswald-parameters(24px, 24px, 400, $title-color);

  text-transform: none;
  border-bottom: 1px solid #ebebeb;
}

.additional__product {
  padding-top: 20px;
  padding-bottom: 20px;
}
