.bonus {
  margin: 0 20px;
  margin-bottom: 40px;
  width: 280px;
  height: 289px;
  background-color: $button-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  //background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.bonus__text {
  padding-left: 50px;
  padding-top: 185px;
  padding-right: 50px;

  @include arial-parameters(16px, 20px, 400, $bg-content);

  text-align: center;
}
