.catalog {
  display: grid;
  grid-template-columns: 1fr;
  width: $mobile-width;
  margin: 0 auto;
  background-color: $bg-content;
}

.catalog__title {
  margin: 0;
  padding: 20px 20px;
  padding-bottom: 40px;

  @include oswald-parameters($title-size, $title-size, 400, $title-color);

  text-transform: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.catalog__product {
  padding: 20px 20px;
}

@media (min-width: $tablet-width-bp) {
  .catalog {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: 708px;
    padding: 20px 20px;
  }

  .catalog__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0;

    @include oswald-parameters(60px, 60px, 400, $title-color);

    text-transform: none;
    border: none;
  }
}

@media (min-width: $desktop-width-bp) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    width: 1220px;
    padding: 20px 60px;
  }

  .catalog__title {
    grid-column: 1 / 5;
    border: none;
  }
}
