.content {
  background-color: $bg-content;
}

.content__promo {
  padding-bottom: 20px;
}

.content__programs {
  padding-bottom: 20px;
}

.content__details {
  padding-bottom: 20px;
}

.content__example {
  padding-bottom: 20px;
}

.content__catalog {
  padding-bottom: 20px;
}

.content__additional {
  padding-bottom: 20px;
}

.content__feeding-program {
  padding-bottom: 20px;
}
