.content {
  //width: $mobile-width;
  //margin: 0 auto;
  background-color: $bg-content;

  /*@media (min-width: $tablet-width-bp) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width-bp) {
    width: $desktop-width;
  }*/
}

.content__promo {
  padding-bottom: 20px;
}

.content__programs {
  padding-bottom: 20px;
}

.content__details {
  padding-bottom: 20px;
}

.content__example {
  padding-bottom: 20px;
}

/*.content__map {}*/

.content__title {
  margin: 0 auto;
  padding: 20px 20px;
  width: 280px;
  padding-bottom: 40px;

  @include oswald-parameters($title-size, $title-size, 400, $title-color);

  text-transform: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width-bp) {
    padding: 30px 20px;
    width: 708px;

    @include oswald-parameters(60px, 60px, 400, $title-color);

    text-transform: none;
    border: none;
  }

  @media (min-width: $desktop-width-bp) {
    padding: 30px 60px;
    width: 1220px;
    border: none;
  }
}

.content__catalog {
  padding-bottom: 20px;
}

.content__additional {
  padding-bottom: 20px;
}

.content__bonus {
  padding-bottom: 20px;
}

.content__feeding-program {
  padding-bottom: 20px;
}
