.feeding-program {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  background-color: $bg-content;
}

.feeding-program__title {
  margin: 0;
  padding: 30px 20px;

  @include oswald-parameters($title-size, $title-size, 400, $title-color);

  text-transform: none;
  border-top: 1px solid #ebebeb;
}

.feeding-program__text {
  padding: 0 20px;

  @include oswald-parameters($text-size, 18px, 400, $title-color);
}

/*.feeding-program__form {
  //padding-bottom: 20px;
}*/

@media (min-width: $tablet-width-bp) {
  .feeding-program {
    width: 708px;
    padding: 0 20px;
  }

  .feeding-program__title {
    padding: 40px 0;

    @include oswald-parameters(60px, 60px, 400, $title-color);

    text-transform: none;
    border: none;
  }

  .feeding-program__text {
    padding: 0 40px;

    @include oswald-parameters(20px, 30px, 400, $title-color);
  }
}

@media (min-width: $desktop-width-bp) {
  .feeding-program {
    width: 1220px;
    padding: 0 60px;
  }

  .feeding-program__text {
    padding: 0;
  }
}
