.footer {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 35px;
  background-color: $basic-grey;

  text-align: center;
}

.footer__logo {
  margin: 0 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #d9d9d9;
}

.footer__social {
  padding: 0 20px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 20px 0;
  border-top: solid 1px #d9d9d9;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: $tablet-width;
  }

  .footer__logo {
    margin: 0 30px;
    border: none;
  }

  .footer__copyright {
    margin: 0 30px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
  }

  .footer__logo {
    margin: 0 110px;
  }

  .footer__copyright {
    margin: 0 110px;
  }
}
