.footer {
  background-color: $basic-grey;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: solid 1px #d9d9d9;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: solid 1px #d9d9d9;
}

@media (min-width: $tablet-width-bp) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 708px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__logo {
    border: none;
  }

  .footer__copyright {
    border: none;
  }
}

@media (min-width: $desktop-width-bp) {
  .footer__wrapper {
    width: 1220px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
