.map {
  margin-bottom: -5px;
  background-color: $bg-content;
}

.map__text {
  margin: 0 auto;
  padding: 20px 20px;
  width: 280px;
  display: flex;
}

.map__text--inner {
  background-color: $basic-grey;
}

.map__invitation {
  @include oswald-parameters(16px, 18px, 400, $logo-text-color);
}

.map__adress {
  @include arial-parameters($text-size, 20px, 400, $text-color);
}

.map__img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width-bp) {
  .map__text {
    margin: 0 auto;
    padding: 20px 70px;
    width: 608px;
    justify-content: space-between;
  }

  .map__invitation {
    @include oswald-parameters(20px, 21px, 400, $logo-text-color);
  }

  .map__adress {
    @include arial-parameters(16px, 20px, 400, $text-color);
  }
}

//@media (min-width: $desktop-width-bp) {
//}
