.product {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background-color: $bg-content;
  border-bottom: 1px solid #ebebeb;
}

.product__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: flex-end;
}

.product__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product__text {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.product__name {
  margin: 0;
  padding: 0;
  padding-right: 70px;
  padding-bottom: 20px;

  @include oswald-parameters(16px, 20px, 400, $product-color);
}

.product__name br {
  display: none;
}

.product__name--bonus {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  color: $logo-text-color;
}

.product__details {
  @include arial-parameters(12px, 12px, 400, $text-color);

  text-align: center;
}

.product__details--additional {
  @include arial-parameters(14px, 14px, 400, $text-color);
}

.product__table {
  margin: 0;
  padding: 0;
}

.product__table th {
  text-align: left;
}

.product__table td {
  text-align: right;
}

.product__button {
  margin-left: 0;
  margin-right: 0;
}

.product__button--bonus {
  margin-top: 20px;
  color: $text-color;
  background-color: $basic-grey;

  &:hover,
  &:focus {
    opacity: 1;
    background-color: #ebebeb;
  }

  &:active {
    color: #b9b9b9;
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width-bp) {
  .product {
    width: 324px;
    padding-left: 0;
    padding-right: 0;
    background-color: $basic-grey;
    border: none;
  }

  .product--additional {
    width: auto;
    background-color: $bg-content;
    border: 1px solid #ebebeb;
    border-bottom: none;
  }

  .product--additional:last-of-type {
    border-bottom: 1px solid #ebebeb;
  }

  .product--bonus {
    background-color: $bg-content;
    border: 2px solid $basic-grey;
  }

  .product__description {
    flex-direction: column;
  }

  .product__text {
    padding-left: 40px;
    padding-right: 36px;
  }

  .product__text--additional {
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .product__name {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;

    @include oswald-parameters(20px, 24px, 400, #222222);

    text-align: center;
  }

  .product__name br {
    display: block;
  }

  .product__details {
    @include arial-parameters(16px, 16px, 400, $text-color);

    border-bottom: 1px solid #cdcdcd;
  }

  .product__details--bonus {
    width: 200px;
    margin: 0 auto;
    border: none;
  }

  .product__details--additional {
    border: none;
  }

  .product__button {
    width: 248px;
    margin-left: 40px;
  }

  .product__button--additional {
    width: auto;
    margin-right: 40px;
  }
}

@media (min-width: $desktop-width-bp) {
  .product {
    width: 245px;
  }

  .product--additional {
    flex-direction: row;
    justify-content: space-between;
    width: 895px;
    border-left: none;
    border-right: none;
  }

  .product__text--additional {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .product__name {
    @include oswald-parameters(20px, 21px, 400, #222222);
  }

  .product__button {
    width: 168px;
    margin-left: 40px;
  }

  .product__button--additional {
    width: 245px;
    height: 20px;
    margin-right: 0;
  }
}
