.programs {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 0 20px;
  background-color: $bg-content;
}

.programs__item {
  background-color: $basic-grey;
}

.programs__title {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 35px;
  padding-top: 35px;

  @include oswald-parameters(24px, 37px, 400, $title-color);
}

.programs__text {
  margin: 0 20px;
  padding-bottom: 20px;

  @include arial-parameters($text-size, 18px, 400, $text-color);

  border-bottom: solid 1px #d9d9d9;
}

.programs__button {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 0;

  @include oswald-parameters(16px, 16px, 400, $title-color);

  text-align: left;
  word-wrap: break-word;
  background-color: $basic-grey;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    gap: 30px;
    padding: 0 30px;
  }

  .programs__title {
    padding-left: 50px;

    @include oswald-parameters(36px, 36px, 400, $title-color);
  }

  .programs__text {
    padding: 0 50px;

    @include arial-parameters(16px, 24px, 400, $title-color);

    border-bottom: none;
  }

  .programs__button {
    margin-left: 50px;
    margin-top: 20px;

    @include oswald-parameters(20px, 20px, 400, $title-color);
  }
}

@media (min-width: $desktop-width) {
  .programs {
    grid-template-columns: auto auto;
    gap: 80px;
    padding: 0 110px;
  }
}
