.promo {
  height: 285px;
  margin-bottom: 195px;
  background-color: #64a83b;
  text-align: center;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  padding: 0;
  padding-top: 25px;

  @include oswald-parameters($title-size, $title-size, 400, $bg-content);

  text-transform: none;
}

.promo__text {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  @include oswald-parameters($text-size, $text-size, 400, $bg-content);
}

.promo__img {
  margin: 0 auto;
}

@media (min-width: $tablet-width-bp) {
  .promo {
    height: auto;
    //margin: 0 auto;
    //padding: 0 30px;
    margin-bottom: 0;
    background-color: $bg-content;
  }

  .promo__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-image: none;
  }

  .promo__title {
    padding-left: 80px;

    @include oswald-parameters(60px, 60px, 400, $title-color);

    text-transform: none;
    text-align: left;
  }

  .promo__text {
    padding-left: 80px;

    @include oswald-parameters(20px, 20px, 400, $title-color);

    text-align: left;
  }

  .promo__button {
    width: 240px;
    margin-top: 35px;
    margin-left: 80px;
    padding: 15px 0;

    @include oswald-parameters(20px, 20px, 400, #ffffff);

    z-index: 2;
  }

  .promo__img {
    order: 2;
    margin-top: -80px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width-bp) {
  .promo {
    margin-top: -117px;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #fff 50%, #64A83B 50%);
    //background-size: 720px 696px;
    //background-size: 50% 696px;
    background-size: auto 696px;
    background-position: top right;
    background-repeat: no-repeat;
    background-color: $bg-content;
  }

  .promo__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .promo__title {
    margin-top: 210px;
  }
}
