.promo {
  margin-bottom: 195px;
  width: 320px;
  height: 285px;
  background-color: $button-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
}

.promo__title {
  margin: 0;
  padding: 0;
  padding-top: 25px;

  @include oswald-parameters($title-size, $title-size, 400, $bg-content);

  text-transform: none;
}

.promo__text {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  @include oswald-parameters($text-size, $text-size, 400, $bg-content);
}
