@mixin list-decoration {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin arial-parameters($font-size,  $line-height, $font-weight, $color) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: "Arial", sans-serif;
  color: $color;
}

@mixin oswald-parameters($font-size,  $line-height, $font-weight, $color) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color;
  text-transform: uppercase;
}
