$bg-page: #e5e5e5;
$bg-content: #ffffff;
$bg-example: #eaeaea;
$basic-grey: #f2f2f2; // footer, programs, показать все в каталоге, приглашаем к сотрудничеству
$text-color: #444444;
$title-color: #000000;
$product-color: #222222;
$button-color: #68b738;
$button-color-hover: #5eaa2f;
$status-error: #ff8282;
$logo-text-color: #111111; // лого, приглашаем к сотрудничеству дилеров

$text-size: 14px;
$title-size: 36px;
$nav-size: 20px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$tablet-width-bp: 768px;
$desktop-width-bp: 1400px;
